@page
@using Portfolio.UI.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var nodes = Model.LudumDareGameData?.Node;
    var steamGames = Model.SteamGameData;
}

<div class="text-center">
    <h1 class="display-4">Daniel Holcomb</h1>
    <p>C# Software Engineer & Game Developer</p>
</div>
<div class="row">
    <div class="col">
        <h2>Micro Services</h2>
    </div>
    <div class="col"></div>
    <div class="col">
        <h2>Game Development</h2>
        @for (int i = 0; i < nodes.Count; i++)
        {
            <p>@nodes[i].Name</p>;
        }
        @for (int i = 0; i < steamGames.Count; i++)
        {
            <p>@steamGames[i].Data.Name</p>;
        }
    </div>
</div>

